{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    - Vue Magic -
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div id="app">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}
